# Pythobn
*.pyc
*.pyo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Sublime Text
*.sublime-*

# Secret passwords and stuff
config_user.jsxinc
amazon_web_service.conf

# these scripting guides are compressed
# extract them with `tar -zxf Adobe-Scripting-Guides-and-Samples.tar.gz
Adobe-Scripting-Guides-and-Samples/
